@model NordicDoorTestingrep.Models.EmployeeViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Mer info</h1>

<div>
    <h4>Ansatt</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpName)
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Teams)
        </dt>
        <dd class = "col-sm-10">
            @foreach (var item in Model.Teams)
            {
                if (item.Checked)
                {
                    <div>@item.Name</div>
                }
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EmployeeId">Endre</a> |
    <a asp-action="Index">Tilbake</a>
</div>
