<!DOCTYPE html>
<html lang="en">
<head>


    <title>@ViewData["Title"] - NordicDoors</title>
    <!-- Old stylesheet bootstrap-->
    <!-- <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> -->

    <!-- Local Stylesheets -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NordicDoors.styles.css" asp-append-version="true" />


    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>

    <header>
        <nav class="navbar navbar-light navbar-expand-lg fixed-top" style="background-color: #CDD2D8;">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">NORDICDOOR</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse justify-content-between">
                    <ul class="navbar-nav flex-grow-1" id="ulx1">

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Suggestion"
                               asp-action="Index">Forbedringsforslag</a>
                        </li>
                        <li class="nav-item">

                            <!-- Mine forslag Anchor link -->
                            <a class="nav-link text-dark" asp-area="" asp-controller="MineForslag"
                               asp-action="Index">Mine Forslag</a>
                        </li>
                        <li class="nav-item">
                            <!-- Legg forslag (Asp controller chooses folder Comment -> Open Create razor page ) -->
                            <a class="nav-link text-dark" asp-area="" asp-controller="Comment" asp-action="Create">Legg Forslag</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div style="margin-top:80px"></div>

    </header>



    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - NordicDoors - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->





    <!--
     <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> -->
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
