@model NordicDoors.Models.Comment

@{
    ViewData["Title"] = "Create";
}

<div title="Legg til Side">

    <div class=" createcs">
        <h1>LEGG FORSLAG</h1>
        <div class="tittle1">
            <div class="x2">
                <h3>Forslag navn</h3>
            </div>

            <div class="input">
                <input type="text" name="" id="">
            </div>

        </div>
        <!-- form list ------------------------------------>


        <div class="teambo1">
            <div class="x2">
                <h3>Team</h3>
            </div>
            <div>
                <div class="dropdownx1">
                    <form action="">
                        <div class="btn-group" id="selectx" role="group" aria-label="Button group with nested dropdown">
                            <button type="button" id="buttonx" class="btn">Velg</button>
                            <div class="btn-group" role="group">
                                <button id="" type="button" id="buttonx2" class="btn  dropdown-toggle show"
                                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
                                <div class="dropdown-menu show" aria-labelledby="btnGroupDrop1"
                                    style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(0px, 41px, 0px);"
                                    data-popper-placement="bottom-start">
                                    <a class="dropdown-item" href="#">Dropdown link</a>
                                    <a class="dropdown-item" href="#">Dropdown link</a>
                                    <a class="dropdown-item" href="#">Dropdown link</a>
                                    <a class="dropdown-item" href="#">Dropdown link</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="teambo1">
            <div class="x2">
                <h3>Ansvarlig</h3>
            </div>
            <div>
                <div class="dropdownx1">
                    <form action="">
                        <div class="btn-group" id="selectx" role="group" aria-label="Button group with nested dropdown">
                            <button type="button" id="buttonx" class="btn">Velg</button>
                            <div class="btn-group" role="group">
                                <button id="" type="button" id="buttonx2" class="btn  dropdown-toggle show"
                                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
                                <div class="dropdown-menu show" aria-labelledby="btnGroupDrop1"
                                    style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(0px, 41px, 0px);"
                                    data-popper-placement="bottom-start">
                                    <a class="dropdown-item" href="#">Dropdown link</a>
                                    <a class="dropdown-item" href="#">Dropdown link</a>
                                    <a class="dropdown-item" href="#">Dropdown link</a>
                                    <a class="dropdown-item" href="#">Dropdown link</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="teambo1">
            <div class="x2">
                <h3>Kategori</h3>
            </div>
            <div>
                <div class="dropdownx1">
                    <form action="">
                        <div class="btn-group" id="selectx" role="group" aria-label="Button group with nested dropdown">
                            <button type="button" id="buttonx" class="btn">Velg</button>
                            <div class="btn-group" role="group">
                                <button id="" type="button" id="buttonx2" class="btn  dropdown-toggle show"
                                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
                                <div class="dropdown-menu show" aria-labelledby="btnGroupDrop1"
                                    style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(0px, 41px, 0px);"
                                    data-popper-placement="bottom-start">
                                    <a class="dropdown-item" href="#">Dropdown link</a>
                                    <a class="dropdown-item" href="#">Dropdown link</a>
                                    <a class="dropdown-item" href="#">Dropdown link</a>
                                    <a class="dropdown-item" href="#">Dropdown link</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="teambo1">
            <div class="x2">
                <h3>Status</h3>
            </div>
            <div>
                <div class="dropdownx1">
                    <form action="">
                        <div class="btn-group" id="selectx" role="group" aria-label="Button group with nested dropdown">
                            <button type="button" id="buttonx" class="btn">Velg</button>
                            <div class="btn-group" role="group">
                                <button id="" type="button" id="buttonx2" class="btn  dropdown-toggle show"
                                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
                                <div class="dropdown-menu show" aria-labelledby="btnGroupDrop1"
                                    style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(0px, 41px, 0px);"
                                    data-popper-placement="bottom-start">
                                    <a class="dropdown-item" href="#">Dropdown link</a>
                                    <a class="dropdown-item" href="#">Dropdown link</a>
                                    <a class="dropdown-item" href="#">Dropdown link</a>
                                    <a class="dropdown-item" href="#">Dropdown link</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="teambo2">
            <div class="justdoit">
                <h3>Just do it</h3>
                <input id="checkboxx" type="checkbox" name="JustdoitCheckbox" id="">
            </div>
            <div class="date">

                <h3>Date estimate</h3>

                <input type="date" id="start" name="trip-start" value="" min="" max="">

            </div>
            <div class=" leggtilbilde">
                <h3>Legg til bilde</h3>

                <form action="">
                    <input type="file" id="" name="legg til bilde">
                </form>
            </div>

        </div>
        <div class="teambo3">

            <div class="beskrivelsex">
                <h3>Beskrivelse </h3>
                <textarea class="form-control" id="exampleTextarea" rows="3" style="height: 95px;"></textarea>
            </div>

        </div>

        <!-- form list -->
        <div class="framdrift">
            <form action="">

                <h3>Framdrift</h3>
                <input id="framdrift" type="range" class="form-range" id="customRange1">

            </form>
        </div>

        <button type="submit" class="btn btn-secondary" value="">Submit</button>
    </div>

</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
