@model NordicDoors.Models.Comment

@{
    ViewData["Title"] = "Create";
}

<div title="Legg til Side">

    <div class=" createcs">
        <div class="tittle1">
            <div class="x2">
                <h3>Tittle</h3>
            </div>

            <div class="input">
                <input type="text" name="" id="">
            </div>

        </div>
        <!-- form list ------------------------------------>

        <div class="teambo1">
            <div class="x2">
                <h3>Team</h3>
            </div>
            <div>
                <div class="dropdownx1">
                    <form action="">
                        <select id=" " name="team">
                            <option class="option" value="">Label1</option>
                            <option class="option" value="">Label1</option>
                            <option class="option" value="">Label1</option>
                            <option class="option" value="">Label1</option>
                            <option class="option" value="">Label1</option>
                            <option class="option" value="">Label1</option>

                        </select>
                    </form>
                </div>
            </div>






        </div>

        <div class="teambo2">

            <h3>Just do it</h3>
            <input type="checkbox" name="JustdoitCheckbox" id="">

            <h3>Legg til bilde</h3>

            <form action="">
                <input type="file" id="" name="legg til bilde">


            </form>

        </div>

        <h3>Beskrivelse</h3>
        <input type="text" name="beskrivelseLeggTilForslag" id="">


        <h3>Status</h3>

        <!-- form list -->
        <form action="">
            <select id=" " name="status">
                <option value="">Label1</option>
                <option value="">Label2</option>
                <option value="">Label3</option>
                <option value="">Label4</option>
            </select>


            <h3>Framdrift</h3>
            <input type="range" name="rangeframdrift">
            <input type="submit" value="">
        </form>


        <div>
            <a asp-action="Index">Back to List</a>
        </div>

    </div>

</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
