@model NordicDoors.Models.Suggestion

@{
    ViewData["Title"] = "Create";
}

<h1>Legg til Forslag</h1>
<!--

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SugName" class="control-label"></label>
                <input asp-for="SugName" class="form-control" />
                <span asp-validation-for="SugName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegisteredDate" class="control-label"></label>
                <input asp-for="RegisteredDate" class="form-control" />
                <span asp-validation-for="RegisteredDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompletedDate" class="control-label"></label>
                <input asp-for="CompletedDate" class="form-control" />
                <span asp-validation-for="CompletedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SugCategory" class="control-label"></label>
                <input asp-for="SugCategory" class="form-control" />
                <span asp-validation-for="SugCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeID" class="control-label"></label>
                <input asp-for="EmployeeID" class="form-control" />
                <span asp-validation-for="EmployeeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResponsibleEmp" class="control-label"></label>
                <input asp-for="ResponsibleEmp" class="form-control" />
                <span asp-validation-for="ResponsibleEmp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeamID" class="control-label"></label>
                <input asp-for="TeamID" class="form-control" />
                <span asp-validation-for="TeamID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DueDate" class="control-label"></label>
                <input asp-for="DueDate" class="form-control" />
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SugStatus" class="control-label"></label>
                <input asp-for="SugStatus" class="form-control" />
                <span asp-validation-for="SugStatus" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                   // <input class="form-check-input" asp-for="IsJDI" />// @Html.DisplayNameFor(model => model.IsJDI)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>

    -->


<h3>Tittle</h3>
<input type="text" name="" id="">
<h3>Team</h3>
<!-- form list -->
<form action="">
    <select id=" " name="team">
        <option value="">Label1</option>
        <option value="">Label2</option>
        <option value="">Label3</option>
        <option value="">Label4</option>
    </select>
    </form>

    <h3>Ansvarlig</h3>
    <!-- form list -->
    <form action="">
        <select id=" " name="Ansvarlig">
            <option value="">Label1</option>
            <option value="">Label2</option>
            <option value="">Label3</option>
            <option value="">Label4</option>
        </select>
        </form>

        <h3>Kategori</h3>
        <!-- form list -->
        <form action="">
            <select id=" " name="kategorileggtilforslag">
                <option value="">Label1</option>
                <option value="">Label2</option>
                <option value="">Label3</option>
                <option value="">Label4</option>
            </select>
            </form>

            <h3>Just do it</h3>
            <input type="checkbox" name="JustdoitCheckbox" id="">

            <h3>Legg til bilde</h3>

            <form action="">
                <input type="file" id="" name="legg til bilde">

                <h3>Beskrivelse</h3>
                <input type="text" name="beskrivelseLeggTilForslag" id="">

                </form>
                <h3>Status</h3>

                <!-- form list -->
                <form action="">
                    <select id=" " name="status">
                        <option value="">Label1</option>
                        <option value="">Label2</option>
                        <option value="">Label3</option>
                        <option value="">Label4</option>
                    </select>


                    <h3>Framdrift</h3>
                    <input type="range" name="rangeframdrift">
                    <input type="submit" value="">
                </form>



                @section Scripts {
                    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
                }
