
@{
    ViewData["Title"] = "Mine Forslag";
}

<style>
    .overskrift {
        background-color: rgb(255, 255, 255);
        font: arial;
        font-size: 20px;
        color: black;

        border: none;
        border-radius: 2px;
        cursor: pointer;
        margin-right: 8px;
        margin-left: 20px;
        padding-top: 30px;
        padding-bottom: 10px;
        padding-left: 16px;
        padding-right: 16px;
        vertical-align: top;
        text-align: center;
        transition: opacity 0.15s;
    }

    .box1{

    }

</style>


<h1 class="overskrift">MINE FORSLAG</h1>


<div class="box1">
    <form action="" method="">
        <table>
            <tr>
                <td>Enter ID: </td>
                <td><input type="text" name="txtId" /></td>
            </tr>
            <tr>
                <td>Enter Name: </td>
                <td><input type="text" name="txtName" /></td>
            </tr>
            <tr>
                <td>Addon: </td>
                <td><input type="checkbox" name="chkAddon" /></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Submit Form" /></td>
            </tr>
        </table>
    </form>

</div>

<button type="button" class="overskrift">
   REDIGER
</button>
