@{
    ViewData["Title"] = "Mine Forslag";
}
<h1 class="overskrift">MINE FORSLAG</h1>

<div class="forslagside">


    <!-- her kan man sortere info -->
    <div class="navbarforslag1">

        <div class="boxavmineforslagliste">
            <p>status</p>

        </div>
        <div class="boxavmineforslagliste">
            <p>forslag liste</p>

        </div>
        <div class="boxavmineforslagliste">
            <p>Brukernavn</p>

        </div>
        <div class="boxavmineforslagliste">
            <p>type</p>

        </div>
        <div class="boxavmineforslagliste">
            <p>Mer info</p>

        </div>
    </div>
    <!-- --------------------------------- -->


    <div class="boxavmineforslag">

        <!-- Status av forslag -->
        <div class="boxavmineforslagliste" class="statusforslag">
            <p>active</p>
        </div>
        <!-- Forslag Navn og info -->
        <div class="boxavmineforslagliste" id="forslaglistee">

            <p class="forslagnavn">Blue Door</p>
            <p class="forslagnavndesc">løren ipsum </p>
        </div>
        <div class="boxavmineforslagliste" class="userlist">
            <p>Cliffey V</p>
        </div>
        <div class="boxavmineforslagliste" class="typelisteforslag">
            <p>Plan</p>
        </div>
        <div class="boxavmineforslagliste" class="buttonxlisteforslag">
            <button type="button" class="btn btn-light">Mer</p>
        </div>
    </div>


    <div class="boxavmineforslag">

        <!-- Status av forslag -->
        <div class="boxavmineforslagliste" class="statusforslag">
            <p>Done</p>
        </div>
        <!-- Forslag Navn og info -->
        <div class="boxavmineforslagliste" id="forslaglistee">

            <p class="forslagnavn">Brown Square Door</p>
            <p class="forslagnavndesc">løren ipsum </p>
        </div>
        <div class="boxavmineforslagliste" class="userlist">
            <p>Jakob S</p>
        </div>
        <div class="boxavmineforslagliste" class="typelisteforslag">
            <p>Just do It</p>
        </div>
        <div class="boxavmineforslagliste" class="buttonxlisteforslag">
            <button type="button" class="btn btn-light">Mer</p>
        </div>
    </div>
    <div class="boxavmineforslag">

        <!-- Status av forslag -->
        <div class="boxavmineforslagliste" class="statusforslag">
            <p>progress</p>
        </div>
        <!-- Forslag Navn og info -->
        <div class="boxavmineforslagliste" id="forslaglistee">

            <p class="forslagnavn">Orange Gold Frame</p>
            <p class="forslagnavndesc">løren ipsum </p>
        </div>
        <div class="boxavmineforslagliste" class="userlist">
            <p>Marco C</p>
        </div>
        <div class="boxavmineforslagliste" class="typelisteforslag">
            <p>To Do</p>
        </div>
        <div class="boxavmineforslagliste" class="buttonxlisteforslag">
            <button type="button" class="btn btn-light">Mer</p>
        </div>
    </div>








</div>

</div>