@model IEnumerable<NordicDoorTestingrep.Models.Suggestion>
@{
    ViewData["Title"] = "Home Page";
}

<!-- Parent div element -->
<div class="indexparentbox" class="d-flex flex-column">

    <!-- Mine forslag contaier child box -->
    <div class="minefoslagcontainerchild">
        <h1 class ="minefoslagcontainerchild d-flex flex-column  justify-content-center align-items-center"> Mine forslag</h1>

        <div class="boxavmineforslag">

            <!-- Status av forslag -->
            <div class="boxavmineforslagliste" class="statusforslag">
                <p>active</p>
            </div>
            <!-- Forslag Navn og info -->
            <div class="boxavmineforslagliste" id="forslaglistee">

                <p class="forslagnavn">Blue Door</p>
            </div>
            <div class="boxavmineforslagliste" class="userlist">
                <p>Cliffey V</p>
            </div>
            <div class="boxavmineforslagliste" class="typelisteforslag">
                <p>Plan</p>
            </div>
            <div class="boxavmineforslagliste" class="buttonxlisteforslag">
                <button class="btn btn-light" type="button">Mer</p>
            </div>
        </div>









    </div>
    <!-- Ordinære forslag -->
    <div class="ordinaereforslagcontainerchild">

        <h1 class="minefoslagcontainerchild d-flex flex-column  justify-content-center align-items-center">Ordinære Forslag</h1>

        <div class="boxavmineforslag">

            <!-- Status av forslag -->
            <div class="boxavmineforslagliste" class="statusforslag">
                <p>active</p>
            </div>
            <!-- Forslag Navn og info -->
            <div class="boxavmineforslagliste" id="forslaglistee">

                <p class="forslagnavn">Blue Door</p>
                <p class="forslagnavndesc">løren ipsum </p>
            </div>
            <div class="boxavmineforslagliste" class="userlist">
                <p>Cliffey V</p>
            </div>
            <div class="boxavmineforslagliste" class="typelisteforslag">
                <p>Plan</p>
            </div>
             <div class="boxavmineforslagliste" class="buttonxlisteforslag">
                <button class="btn btn-light" type="button">Mer</p>
            </div>
        </div>

    </div>
    <!-- box med just do it og plan -->
    <div class="twocontainerchild flex-row">

        <div class="justdoitcontainer">


            <h1 class="minefoslagcontainerchild d-flex flex-column  justify-content-center align-items-center">Just do It</h1>

            <div class="boxavmineforslag">

                <!-- Status av forslag -->
                <div class="boxavmineforslagliste" class="statusforslag">
                    <p>active</p>
                </div>
                <!-- Forslag Navn og info -->
                <div class="boxavmineforslagliste" id="forslaglistee">

                    <p class="forslagnavn">Blue Door</p>
                    <p class="forslagnavndesc">løren ipsum </p>
                </div>
                <div class="boxavmineforslagliste" class="userlist">
                    <p>Cliffey V</p>
                </div>
                <div class="boxavmineforslagliste" class="typelisteforslag">
                    <p>Plan</p>
                </div>
                 <div class="boxavmineforslagliste" class="buttonxlisteforslag">
                <button class="btn btn-light" type="button">Mer</p>
            </div>
            </div>




        </div>
        <div class="diversevcontainer">


            <div class="boxavmineforslag">

                <!-- Status av forslag -->
                <div class="boxavmineforslagliste" class="statusforslag">
                    <p>active</p>
                </div>
                <!-- Forslag Navn og info -->
                <div class="boxavmineforslagliste" id="forslaglistee">

                    <p class="forslagnavn">Blue Door</p>
                    <p class="forslagnavndesc">løren ipsum </p>
                </div>
                <div class="boxavmineforslagliste" class="userlist">
                    <p>Cliffey V</p>
                </div>
                <div class="boxavmineforslagliste" class="typelisteforslag">
                    <p>Plan</p>
                </div>
                 <div class="boxavmineforslagliste" class="buttonxlisteforslag">
                <button class="btn btn-light" type="button">Mer</p>
            </div>
            </div>

        </div>

    </div>


</div>