@{
    ViewData["Title"] = "Home Page";
}

<!-- Parent div element -->
<div class="indexparentbox" class="d-flex flex-column">

    <!-- Mine forslag contaier child box -->
    <div class="minefoslagcontainerchild d-flex flex-column  justify-content-center align-items-center" class="">
        <h1>Mine forslag</h1>

        <div class="box11"></div>
        <div class="box11"></div>
        <div class="box11"></div>












    </div>
    <!-- Ordinære forslag -->
    <div class="ordinaereforslagcontainerchild">

    </div>
    <!-- box med just do it og plan -->
    <div class="twocontainerchild flex-row">

        <div class="justdoitcontainer"></div>
        <div class="diversevcontainer"></div>

    </div>


</div>