@{
    ViewData["Title"] = "Home Page";
}



<div class="">

    <div class="hometitle">
        <h2>Hjem</h2>
    </div>
    <div class="searchBar">

        <input class="input" type="text" placeholder="finne forslag" />

    </div>


    <div class="mineforslag">
        <h1>Mine Forslag</h1>
        <div class="mineforslagbox"></div>

    </div>

    <div class="sisteforslag">
        <h1>Siste Forslag</h1>
        <div class="sisteforslagbox"></div>

    </div>

    <button class="buttonhome">Opprett Forslag</button>

</div>
