/* global styling in html file */

html {
  /* all the font size to 12px of size of screen ratio */
  font-size: 0.75rem;
}


* {

  margin : 0;
  padding: 0;

}


.body {

  background-color: #FFD6AF;
  align-content   : center;
  justify-content : center;
  align-items     : center;
}



/* ------------------------------------------ */

/* main style code for create.cshtml */

/* this is the css for responsive for phone */

@media (min-width: 768px) {
  .createcs {
    height: 100vh;

    background-color: white;
  }

  .teambo1 {}

}

/* css for the createcshtml container */

.createcs {
  background-color: white;
  display         : flex;
  justify-content : center;
  flex-direction  : column;
  align-items     : center;
  height          : 80vh;
  margin          : 2rem;
  border-radius   : 2rem;
}

.tittle1 {
  display        : flex;
  flex-direction : row;
  width          : 30%;
  justify-content: space-between;
}

.teambo1 {
  display            : flex;
  justify-items      : baseline;
  align-items        : center;
  margin             : 0.5rem 0;
  width              : 30%;
  justify-content    : space-between;
  /* flex-direction  : row; */

}

.teambo2 {

  display        : flex;
  flex-direction : row;
  justify-content: space-evenly;
  padding        : 2rem;
  width          : 65%;
}

.teambo3 {

  display        : flex;
  flex-direction : row;
  justify-content: space-evenly;
  padding        : 2rem;
  width          : 65%;
}

/* Button dropdown */
#selectx {

  background-color: #C49E85;
  border-radius   : 0.3rem;
  height          : 2rem;
  width           : 12rem;
  color           : white;
}

#buttonx,
#buttonx2 {
  background-color: #C49E85;
  border-radius   : 0.3rem;
  height          : 2rem;
  width           : 12rem;
  color           : white;
}



/* Input style */

input {
  width: 12rem;
}

/* Just do it */
.justdoit {
  display        : flex;
  justify-content: center;
  align-items    : center;
  flex-direction : column;

}

#checkboxx {
  height: 2rem;
  width : 2rem;
}

.beskrivelsex {
  display       : flex;
  flex-direction: column;
  align-items   : center;
  width         : 35rem;
}


.statusx {
  display    : flex;
  align-items: center;

}

.framdrift {
  width          : 20rem;
  display        : flex;
  padding        : 1rem;
  justify-content: center;
}