html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

* {

margin:0;
padding: 0;

}

/* working on the index cshtml home Page */




@media (min-width: 768px) {


     

}

